mat-card {
    background-color: teal;
    padding: 10% !important;
}

mat-card-title, mat-card-subtitle {
    color: white;
}

.example-section {
    align-content: center;
    align-items: center;
    height: 40px;
}

.example-margin {
    margin: 0 25px;
}

.mat-form-field-empty , .mat-form-field-label {
    color: white;
}