.card {
    width: 50%;
    margin-top: 2%;
    height: auto;
}

.upload-room-image {
    font-size: 127px;
    color: darkgrey;
    cursor: pointer;
}

.upload-room-image:hover {
    color: rgb(138, 138, 138);
}

.room-image-title {
    margin-left: 18%;
    color: darkgrey;
    cursor: pointer;
}

.room-image-title:hover {
    color: rgb(138, 138, 138);
}

.header {
    padding-top: 5%;
}

.title {
    margin-left: 37%;
    font-size: 20px;
    width: 100%;
    color: rgb(40, 40, 255);
}

.sub-title {
    margin-left: 37%;
    width: 100%;
    font-size: 14px;
    color: rgb(40, 40, 255);
}

.room-name {
    font-size: 14px;
    width: 80%;
}

.section {
    margin-bottom: 10%;
}

.checkbox {
    font-size: 14px;
    margin-left: 18%;
    float: left;
}

.capacity {
    font-size: 14px;
    width: 17%;
}

.card-actions {
    margin-bottom: 6% !important;
}

.add-btn {
    width: 20%;
}

.mat-snack-bar-container {
    margin-top: 17% !important;
}

.success-message {
    color: rgb(16, 150, 150);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5%;
    margin-top: 5%;
}

.room-details-section {
    float: left;
    width: 45%;
}

.room-list-container {
    height: 40px;
    margin-top: 2%;
}

.card-image {
    width: 86%;
    border-radius: 5px;
}

.room-image-container {
    width: 40%;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 90%;
        margin-top: 1%;
        height: auto;
        border: solid 0px white;
    }
    .title {
        margin-left: 25%;
        font-size: 30px;
        width: 100%;
    }
    .sub-title {
        margin-left: 25%;
        width: 100%;
        font-size: 20px;
    }
    .checkbox {
        font-size: 20px;
        margin-left: 16%;
        float: left;
    }
    .capacity {
        font-size: 20px;
        width: 20%;
    }
    .add-btn {
        width: 35%;
    }
}