<h2>Manage Rooms</h2>

<div align="center">
  <table border="1">
    <tr>
      <td colspan="2">
        <input type="text" name="roomName" placeholder="Enter room name" [(ngModel)]="room.name">
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="hasProjector" [(ngModel)]="room.hasProjector">
        <label for="hasProjector">Projector</label>
      </td>
      <td>
        <input type="checkbox" name="hasAc" [(ngModel)]="room.hasAc">
        <label for="hasAc">AC</label>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="number" name="capacity" placeholder="Capacity" [(ngModel)]="room.capacity">
      </td>
    </tr>
    <tr>
      <td align="center" colspan="2">
        <button (click)="addRoom()">Add</button>
      </td>
    </tr>
  </table>
</div>

<div>
  <div *ngFor="let room of rooms">
    <div class="room-card">
      <h2>{{ room.name }}</h2>
      <div class="edit-icon">Edit</div>
      <img class="facilities-icon" src="assets/images/projector.png" alt="">
    </div>
  </div>
</div>