.registration-card {
    width: 30%;
    background-color: teal;
    padding: 3%;
    top: 20px;
}

mat-card-title {
    width: 250%;
    font-size: 35px !important;
    color: white;
}

mat-card-subtitle {
    width: 250%;
    font-size: 20px;
    color: white;
}