.booking-container {
    border: solid 1px rgb(255, 186, 57);
    padding: 3%;
    border-radius: 3px;
    background-color: rgb(255, 186, 57);
    font-size: 15px;
}

.booked-by {
    font-size: 17px;
    font-weight: bold;
}

.contact-details {
    font-size: 13px;
}

.booking-time {
    font-size: 13px;
}

.cancel-booking-icon {
    position: relative;
    right: -88px;
    width: 10px;
    top: -45px;
    cursor: pointer;
}