<div *ngIf="user" class="booking-container">
  <div class="booked-by">{{ user.name }} </div>
  <div (click)="cancel()" class="cancel-booking-icon" *ngIf="data.bookedByMe">X</div>
  <div [ngClass]="{'contact-details-container':data.bookedByMe}">
    <div *ngIf="user.contactNo && displayPhone" class="contact-details"
      [ngClass]="{'contact-details-height-adjuster': displayPhone }"> {{ user.contactNo }} </div>
    <mat-icon *ngIf="!displayPhone" (click)="showPhoneNumber()" class="icon contact-icon" aria-hidden="false"
      aria-label="Contact Phone">
      contact_phone
    </mat-icon>
    <br *ngIf="!displayPhone" />
    <span class="booking-time"> {{ data.startTime }} - {{ data.endTime }} </span>
  </div>
</div>