.booked-by {
    font-size: 25px;
    color: teal;
    margin: 10px;
}

.booked-by-contact-details {
    margin-top: 10px;
    font-size: 18px;
    margin-left: 5px;
    color: white;
}

.booking-time {
    margin-top: 10px;
    font-size: 15px;
    margin-left: 5px;
}

.cancel-booking-icon {
    position: relative;
    right: -88px;
    width: 10px;
    top: -45px;
    cursor: pointer;
}