<div class="jumbotron jumbotron-custom contact-container">
	<div class="row">
		<div class="col-sm-6 col-md-4"></div>
		<div class="col-sm-6 col-md-4" align="center">
			<div class="thumbnail">
				<img src="images/MyPic.jpg" alt="...">
				<div class="caption">
					<h3>Anand Muley</h3>
					<div style="color: #01BF9D !important;font-weight: bold;">Software Developer</div>
					<div align="left">
						Please reach out to me for any concerns and improvements needed in this site.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>