<title>{{pageTitle}}</title>
<h3 class="text-center">{{pageTitle}}</h3>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-4">
		<div class="list-group">
		  <a href="#" class="list-group-item active text-center panel-heading">
		    <h3 class="list-group-item-heading">PINNACLE</h3>
		  </a>
		  <a href="#" class="list-group-item">
		  	<div class="row">
		  		<div class="col-md-7" style="text-align: left;">
		  			<div class="list-group-item-heading time-slot-available">Available</div>
		  			<div class="list-group-item-text booking-time-label">08:00 AM to 02:00 PM</div>
		  		</div>
		  	</div>
		  </a>
		  <a href="#" class="list-group-item">
		  	<div class="row">
		  		<div class="col-md-7" style="text-align: left;">
		  			<div class="list-group-item-heading team-name-label">CVoS</div>
		  			<div class="list-group-item-text booking-time-label">02:15 PM to 03:00 PM</div>
		  		</div>
		  		<div class="col-md-5" style="text-align: right;padding-top: 16px;">
			  		<div class="list-group-item-text booked-attime">08:00 AM</div>
		  			<div class="list-group-item-text">Anand Muley</div>
		  		</div>
		  	</div>
		  </a>
		   <a href="#" class="list-group-item">
		  	<div class="row">
		  		<div class="col-md-7" style="text-align: left;">
		  			<div class="list-group-item-heading team-name-label">KANBAN</div>
		  			<div class="list-group-item-text booking-time-label">03:00 PM to 04:00 PM</div>
		  		</div>
		  		<div class="col-md-5" style="text-align: right;padding-top: 16px;">
			  		<div class="list-group-item-text booked-attime">09:00 AM</div>
		  			<div class="list-group-item-text">Someone</div>
		  		</div>
		  	</div>
		  </a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="list-group">
		  <a href="#" class="list-group-item active text-center panel-heading">
		    <h3 class="list-group-item-heading">OTHER</h3>
		  </a>
		  <a href="#" class="list-group-item">
		  	<div class="row">
		  		<div class="col-md-7" style="text-align: left;">
		  			<div class="list-group-item-heading team-name-label">MYO2</div>
		  			<div class="list-group-item-text booking-time-label">02:15 PM to 03:00 PM</div>
		  		</div>
		  		<div class="col-md-5" style="text-align: right;padding-top: 16px;">
			  		<div class="list-group-item-text booked-attime">08:00 AM</div>
		  			<div class="list-group-item-text">Someone</div>
		  		</div>
		  	</div>
		  </a>
		  <a href="#" class="list-group-item">
		  	<div class="row">
		  		<div class="col-md-7" style="text-align: left;">
		  			<div class="list-group-item-heading team-name-label team-name-label">Available</div>
		  			<div class="list-group-item-text booking-time-label">03:00 PM to 05:00 PM</div>
		  		</div>
		  	</div>
		  </a>
		</div>
	</div>
</div>