<div class="login-container" ng-if="!authenticated">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-2">
			<div class="site-title">MEROBO</div>
			<div class="site-subtitle">Meeting Room Booking</div>
		</div>
	</div>
	<form action="#" method="post">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<input required="required" ng-model="user.username" type="text" placeholder="Username" class="form-control input-lg" />
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<input required="required" ng-model="user.password" type="password" placeholder="Password" class="form-control input-lg" />
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" align="center">
			<button type="button" ng-click="login()" class="btn btn-lg btn-success">Login</button>
		</div>
	</div>
	</form>
	<br/>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4" align="center">
			<a id="forgot-password-link" class="registration-link" ng-href="#!forgotpwd">Forgot Password</a>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-2" align="center">
			<a id="create-team-link" class="registration-link" href="createteam">Create Team</a>
		</div>
		<div class="col-md-2" align="center">
			<a id="create-user-link" class="registration-link" ng-href="create">Create User</a>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4" align="center">
			<a id="view-dashboard-link" class="registration-link" ng-href="dashboard">Dashboard</a>
		</div>
	</div>
	<br/>
	<div class="row" ng-if="message">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div align="center" class="alert" ng-class="{'alert-success':success,'alert-danger':!success}">{{message}}</div>
		</div>
	</div>
</div>