<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<div class="row">
			<div class="col-md-7">
				<input ng-model="team.name" class="form-control input-md" type="text" placeholder="Enter Team Name"/>
			</div>
			<div class="col-md-4">
				<button type="button" ng-click="createTeam(team)" class="btn btn-md btn-success btn-block">Add</button>			
			</div>
		</div>
	</div>
	<div class="col-md-4" ng-if="selectedTeam">
		<div class="row">
			<div class="col-md-6">
				<input ng-model="member.name" class="form-control input-md" type="text" placeholder="Enter Member Name"/>
			</div>
			<div class="col-md-3">
				<button type="button" ng-click="addMember(selectedTeam,member)" class="btn btn-md btn-success btn-block">Add</button>			
			</div>
		</div>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<ul class="list-group">
			<a href="#" class="list-group-item text-center header-container">
				<h4 class="list-group-item-heading">TEAMS</h4>
			</a>
			<li ng-click="selectTeam(team)" ng-class="{'list-group-item-selected':team.name==selectedTeam.name}" ng-repeat="team in teams.data" class="list-group-item">
				<span class="badge">{{team.memberTos.length}}</span> 
				<div>{{team.name}}</div>
			</li>
		</ul>
	</div>
	<div class="col-md-8" ng-if="selectedTeam">
		<div class="panel panel-primary panel-border">
			<div class="panel-heading">
				<h3 class="panel-title">{{selectedTeam.name}} Team Members</h3>
			</div>
			<div class="panel-body text-center">
				<div class="col-sm-3 col-md-3" ng-repeat="member in selectedTeam.memberTos">
					<div class="thumbnail">
						<img width="100" src="images/default-user.png" alt="NA">
						<div class="caption">
							{{member.name}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>