<br/>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<ul class="list-group">
			<div class="list-group-item active text-center panel-heading">
				<h4 class="list-group-item-heading">TEAMS</h4>
			</div>
			<li ng-click="selectTeam(team)" ng-class="{'list-group-item-selected':team.name==selectedTeam.name}" ng-repeat="team in teams.data" class="list-group-item">
				<span class="badge">{{team.memberTos.length}}</span> 
				<div>{{team.name}}</div>
			</li>
		</ul>
	</div>
	<div class="col-md-8" ng-if="selectedTeam">
		<div class="panel panel-primary panel-border">
			<div class="panel-heading">
				<h3 class="panel-title">{{selectedTeam.name}} Team Members</h3>
			</div>
			<div class="panel-body text-center">
				<div class="col-sm-3 col-md-3" ng-repeat="member in selectedTeam.memberTos">
					<div class="thumbnail">
						<img width="100" src="images/default-user.png" alt="NA">
						<div class="caption">
							{{member.name}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>