<div>
  <mat-card style="width: 100%; height: 100%;"
    [ngClass]="{ 'room-available' : isAvailable, 'room-booked' : !isAvailable }">
    <mat-card-header>
      <mat-card-title>{{room.name}}</mat-card-title>
      <mat-card-subtitle *ngIf="room.booked">Booked</mat-card-subtitle>
      <mat-card-subtitle *ngIf="!room.booked">Available</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <booking *ngIf="showBookings && currentBooking" [roomId]="room.id" [data]="currentBooking"></booking>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>