.card-title {
    color: #26a69a;
}

.card {
    background-color: rgb(235, 235, 235);
}

.card:hover {
    background-color: rgb(219, 219, 219);
}

.room-available {
    background-color: rgb(156, 226, 156);
}

.room-booked{
    background-color: coral;
}