.card {
    width: 100%;
    min-height: 200px !important;
}

.title {
    color: rgb(40, 40, 255);
    text-transform: uppercase;
}

.card:hover {
    border: solid 2px rgb(114, 114, 114);
    cursor: pointer;
}

.header {
    justify-content: center;
}

.room-available {
    border: solid 1px rgb(99, 204, 99);
    min-height: 68px;
    border-radius: 3px;
    background-color: rgb(99, 204, 99);
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.status-text {
    padding-top: 10%;
    font-size: 15px;
    font-weight: 500;
    color: rgb(14, 116, 14);
}

.room-booked {
    color: rgb(255, 106, 80);
    text-transform: uppercase;
    font-size: 12px;
}

.ac-icon {
    font-size: 30px;
    float: left;
    padding-left: 25%;
}

.has-facility {
    color: rgb(29, 158, 29);
}

.no-facility {
    color: rgb(209, 63, 37);
}

.capacity-icon-container {
    margin-top: 10%;
    font-size: 20px;
}

.capacity-icon {
    font-size: 30px;
}

.room-capacity {
    margin-left: 3%;
}