<div class="row">
  <div class="col s4 offset-s4">
    <div *ngIf="rooms" class="row">
      <br/>
      <select [(ngModel)]="roomId" class="browser-default">
        <option value="-1" disabled selected>Select a Room</option>
        <option *ngFor="let item of rooms" value="{{item.id}}">{{ item.name }}</option>
      </select>
    </div>

    <div class="row">
      <div class="col s6 offset-s3">
        <input placeholder="Booking Date" style="text-align: center;" type="text" class="datepicker"
          (change)="onSelect($event,'BookingDate')" [(ngModel)]="bookingDate">
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <input placeholder="Start Time" style="text-align: center;" type="text" class="timepicker"
          (change)="onSelect($event,'StartTime')" [(ngModel)]="startTime">
      </div>
      <div class="col s6">
        <input placeholder="End Time" style="text-align: center;" type="text" class="timepicker"
          (change)="onSelect($event,'EndTime')" [(ngModel)]="endTime">
      </div>
    </div>

    <div class="row">
      <a (click)="bookRoom()" class="waves-effect waves-light btn">Book</a>
    </div>

    <div *ngIf="message" class="row">
      {{ message }}
    </div>

  </div>
</div>