<mat-grid-list cols="5" rowHeight="1:2">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="login-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>MEROBO</mat-card-title>
        <mat-card-subtitle>Room Booking</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Username" [(ngModel)]="login.username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Password" [(ngModel)]="login.password">
        </mat-form-field>

        <button mat-raised-button (click)="authenticate()">Login</button>

      </mat-card-content>
      <mat-card-actions>
        <a mat-button routerLink="/register">REGISTER</a>
        <a mat-button routerLink="/forgot-password">FORGOT PASSWORD</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>