<mat-toolbar *ngIf="isUserLoggedIn()" color="primary">
  <mat-toolbar-row>
    <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Menu Icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
      <a class="home-link" href="/home">MEROBO</a>
    </span>
    <span class="spacer"></span>
    <mat-icon (click)="logout()" class="icon" aria-hidden="false" aria-label="Logout Icon">lock</mat-icon>
  </mat-toolbar-row>
  <mat-menu #menu="matMenu">
    <button *ngIf="isAdmin()" mat-menu-item>
      <a class="link" routerLink="/admin/rooms">MANAGE ROOMS</a>
    </button>
    <button mat-menu-item>
      <a class="link" routerLink="/rooms">BOOK ROOM</a>
    </button>
  </mat-menu>
</mat-toolbar>
<div style="text-align:center">
  <router-outlet></router-outlet>
</div>