<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-grid-list *ngIf="isUserLoggedIn()" style="background-color: teal;" cols="5" rowHeight="5:1">
    <mat-grid-tile>
      <a mat-button routerLink="/home">HOME</a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a mat-button routerLink="/admin/rooms">MANAGE ROOMS</a>
    </mat-grid-tile>
    <mat-grid-tile>
      <a mat-button routerLink="/rooms">BOOK ROOM</a>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <a mat-button routerLink="/logout">LOGOUT</a>
    </mat-grid-tile>
  </mat-grid-list>
  <router-outlet></router-outlet>
</div>