@CHARSET "UTF-8";

.site-title {
	font-size: 30px;
	color: #01BF9D;
}

.site-subtitle {
	font-size: 13px;
	color: #01BF9D;
}

.btn-success {
	background-color: #01BF9D !important;
	border-color: #01BF9D !important;
}

.panel-heading {
	background-color: #01BF9D !important;
	border-color: #01BF9D !important;
}

.panel-border {
	border-color: #01BF9D;
}

.header-container {
	background-color: #01BF9D;
}

.header-container h4 {
	color: white !important;
}

.team-name-label {
	font-size: 20px;
}

.booking-time-label {
	font-size: 12px;
}

.booked-attime {
	font-size: 10px;
}

.time-slot-available {
	font-size: 20px;
	color: #01BF9D;
}

.timelabel {
	font-size: 20px;
}

.modal-footer {
	text-align: center;
}

.list-group-item:HOVER {
	cursor: pointer;
	background-color: #b8ede3;
}

.list-group-item-selected {
	background-color: #b8ede3;
}

.css-teamform input.ng-invalid.ng-touched {
	border-color: #F05749;
	box-shadow: 0 0 10px #F05749;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #909;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #909;
	opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #909;
	opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #909;
}