@CHARSET "UTF-8";

#content-area{
	min-height: 570px !important;
}

.btn-custom{
   background-color:#419eda;
   background-image: -webkit-linear-gradient( top , #419eda, #2f7cb4);
   color:#fff;
   border-color:#419eda;
}

.font-large{
	font-size: 20px;
}

.font-small{
	font-size: 12px;
}

.active {
	color: #55A3D4;
}

.cancelled {
	color: red;
}

.booking-status-dashboard {
	font-size: 25px;
}

.session-msg {
	font-size: 12px;
	color: red;
	padding-top: 12px;
}

.color-cat{
    color: #C5B9A0;
}

.registration-link {
	font-size: 15px;
	color: #C5B9A0;
}

.registration-link:HOVER {
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	color: #08173C;
}

.default-color {
	color: #0C467E;
}

.page-title {
	font-size: 20px;
	color: #01BF9D;
}

.site-title {
	font-size: 30px;
	color: #C5B9A0;
}

.site-title-brand {
	color: #01BF9D !important;
}

.site-subtitle {
	font-size: 13px;
	color: #C5B9A0;
}

.btn-success {
	background-color: #419eda !important;
	border-color: #419eda !important;
}

.panel-heading {
	background-color: #014076 !important;
	border-color: #014076 !important;
	color:white !important;
}

.panel-heading-blocked{
	background-color: #ff5722 !important;
	border-color: #ff5722 !important;
}

.caution-highlight{
    color: #ff5722 !important;
    font-weight:bold;
}

.panel-border {
	border-color: #0C467E;
}

.header-container {
	background-color: #56A4D4;
}

.header-container h4 {
	color: white !important;
}

.team-name-label {
	font-size: 20px;
}

.team-name-label-dashboard {
	font-size: 40px;
}

.booking-time-label {
	font-size: 12px;
}

.booking-time-label-dashboard {
	font-size: 16px;
}

.booked-attime {
	font-size: 10px;
}

.booked-attime-dashboard {
	font-size: 20px;
}

.booked-by-dashboard{
	font-size: 16px;
}

.cancel-booking {
	font-size: 10px;
	color: red;
}

.cancel-booking:HOVER {
	cursor: pointer;
	color: red;
	font-weight: bold;
}

.time-slot-available {
	font-size: 20px;
	color: #0C467E;
}

.timelabel {
	font-size: 20px;
}

.modal-footer {
	text-align: center;
}

.panel-background{
    background-color:#F6F6F0;
}

.list-group-item{
    background-color:#F6F6F0;
}

.list-group-item.active{
    color:#071538;
}

.list-group-item:HOVER {
	cursor: pointer;
	background-color: #E7DFD4;
}

.list-group-item-selected {
	background-color: #DCBFA6;
}

.css-teamform input.ng-invalid.ng-touched {
	border-color: #F05749;
	box-shadow: 0 0 10px #F05749;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #909;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #909;
	opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #909;
	opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #909;
}

.bold-font {
	font-weight: bold !important;
	font-size: 15px;
}

.navbar-inverse {
	background-color: #014076;
	border-color: #014076;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-brand:HOVER{
    color:#08173C;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:HOVER{
    font-weight:bold;
    color: #08173C;
}

.btn-primary {
	background-color: #0C467E;
	border-color: #0C467E;
}

.btn-link{
	color: #0C467E;
}

.btn-link:hover, .btn-link:focus{
	color: #0C467E;
}

.meeting-room-dashboard{
	font-size: 35px;
}

.dashboard-page-title{
    color:white;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #E7DFD4;
    bottom:0px;
    position:absolute;
}

.footer-row{
	padding-top: 20px;
}

.copyright {
	color: #071538;
	font-size: 16px;
}

.footer-link a {
	color: #071538;
}

.jumbotron-custom{
	padding-bottom: 15px;
}

.login-container{
	margin-top: 11%;
	margin-bottom: 10%;
}

.contact-container{
	height: 30% !important;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.text-muted-custom{
	color: white;
}

.links{
	color: white;
}

.links:HOVER {
	font-weight:bold;
	color:#061437;
}

.cancel-icon{
	font-size: 15px;
}

body{
       background-image:url('../images/teleo/Be-more-dog-cat.jpg');
       background-size: 2030px 1000px;
       /*@media screen and (max-width:1200px){
            background-size:114% 105%;
       }
       @media screen and (min-width:1201px){
           background-size: 2030px 1000px;
       }*/

       background-repeat: repeat;
       background-position: -180px 0px;
}