<div ng-if="!authenticated">
<title>{{pageTitle}}</title>
<br><br><br><br><br>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-2">
		<div class="site-title">MEROBO</div>
		<div class="site-subtitle">Meeting Room Booking</div>
	</div>
</div>
<form action="#" method="post">
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<input required="required" ng-model="username" type="text" placeholder="Username" class="form-control input-lg" />
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<input required="required" ng-model="password" type="password" placeholder="Password" class="form-control input-lg" />
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4" align="center">
		<button type="button" ng-click="login(username,password)" class="btn btn-lg btn-success">Login</button>
	</div>
</div>
</form>
<br/>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4" align="center">
		<a class="registration-link" href="#/create">Create User</a>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4 copyright" align="center">
		&copy;Anand Muley
	</div>
</div>
<br/>
<div class="row" ng-if="message">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div align="center" class="alert" ng-class="{'alert-success':success,'alert-danger':!success}">{{message}}</div>
	</div>
</div>
</div>