<div align="center" style="margin-top: 15px;">
  <mat-card style="width: 70%;height:100%; background-color:lavender" [ngClass]="{ 'room-available' : isAvailable }">
    <mat-card-header style="width:fit-content">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title *ngIf="room">{{room.name}}</mat-card-title>
      <!-- <mat-card-subtitle>Room Booking</mat-card-subtitle> -->
    </mat-card-header>
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <img mat-card-image src="assets/temp/sample-room.jpg" alt="Photo of a Shiba Inu">
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-list>
          <booking [data]="booking" *ngFor="let booking of bookings"></booking>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>