<div align="center">
  <div align="center" class="room-image-display">
    <div class="room-name">{{room?.name}}</div>
    <img class="room-image" src="assets/temp/sample-room.jpg" alt="Sample Room Photo">
    <button class="book-btn" mat-raised-button color="primary" (click)="viewBookRoomPage(room.id)">BOOK</button>
  </div>
  <div class="booking-display">
    <ul class="booking-list" style="list-style-type:none;">
      <li *ngIf="bookings?.length == 0">
        <div class="no-bookings-msg">No bookings for this room !</div>
      </li>
      <li class="booking-list-item" *ngFor="let booking of bookings">
        <booking [roomId]="room.id" [data]="booking"></booking>
      </li>
    </ul>
  </div>
</div>