<div class="login-container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-2">
			<div class="site-title">MEROBO</div>
			<div class="site-subtitle">Meeting Room Booking</div>
		</div>
	</div>
	<form action="#" method="post">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<input ng-model="forgotPwd.username" type="text" placeholder="Username" class="form-control input-lg" />
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4" align="center">
			<button type="button" ng-click="generatePassword()" class="btn btn-lg btn-success">GENERATE</button>
		</div>
	</div>
	</form>
	<br/>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4" align="center">
			<a class="registration-link" href="#/">Login</a>
		</div>
	</div>
	<br/>
	<div class="row" ng-if="forgotPwd.message">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div align="center" class="alert" ng-class="{'alert-success':forgotPwd.success,'alert-danger':!forgotPwd.success}">{{forgotPwd.message}}</div>
		</div>
	</div>
</div>